@page "/notice"
@attribute [AllowAnonymous]
 
<MudCard Elevation="0">
    <MudCardHeader>
           <CardHeaderContent>
               <MudTooltip Text="Go Back">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Color="Color.Inherit" Edge="Edge.Start"
                           Link="/" />
              </MudTooltip>

                <div class="fsh-center-text">
                 <MudText Typo="Typo.h4" GutterBottom="true" style="margin-bottom:5px">
                       개인정보동의
                    </MudText>                    
                </div>
                <br /> 
           </CardHeaderContent> 
    </MudCardHeader>
    <MudCardContent>
        <MudGrid>
          <MudItem xs="12"   >
            <div style="height: 300px;  overflow: auto">

제1조 (목적)
    이 약관은 "더모두 주식회사"(이하 "회사"라 합니다)가 운영하는 “모두의장비”(이하
    “사이트”라 합니다)에서 제공하는 관련 서비스(이하 "서비스"라 합니다)를 이용함에 있어
    "회사"와 회원의 권리 · 의무 및 책임사항을 규정함을 목적으로 합니다.

    제2조 (용어의 정의)
    본 약관에서 사용되는 주요한 용어의 정의는 다음과 같습니다.
    ① "사이트"란 "회사"가 운영하고 있는 인터넷 웹사이트인 모두의장비(https://www.modoo
    jangbi.com)를 의미합니다. 이용 고객 또는 회원이 PC, 휴대형 단말기, 태블릿PC 등
    각종 유무선 기기 또는 프로그램을 통하여 이용할 수 있도록 회사가 제공하는 건설/중장비
     관련 컨텐츠 및 전문가 큐레이션 서비스, SNS 및 그 외 관련된 서비스를 말합니다.
    ② “모두의장비 회원" (이하 "회원"이라 한다)이란 "회사"의 서비스에 접속하여 본 약관에
    동의하고 ID와 PASSWORD를 발급 받았으며 회사가 제공하는 서비스를 이용하는 고객을 포
    괄적으로 의미합니다.
    ③ “전문가”는 건설현장 및 중장비 관련 서비스나 제품을 판매하는 직종에 종사하는 회원
    중 회사가 지정한 절차 및 검수를 마치고 해당회원의 서비스와 제품에 대한 정보 및 상담
    을 제공할 수 있는 회원을 의미합니다. 본 약관에서 별도로 전문가를 언급하지 않는 경우
    에는 모든 약관의 조항들이 전문가에게도 회원과 동일하게 적용됩니다.
    ④ “회원정보”는 회사가 가입신청자에게 회원가입 신청양식(이하 “신청양식"이라 합니다)
    에 기재를 요청하는 가입신청자의 개인정보와 회원의 식별과 서비스 이용을 위하여 회원이
     입력하고 서비스 내 공개된 개인정보를 의미합니다.
    ⑤ID(고유번호): 회원 식별과 회원의 본 서비스 이용을 위하여 회원이 선정하고 회사가
    승인하는 문자와 숫자의 조합을 말합니다. 본 서비스에서는 E-mail 주소를 ID로 사용합니
    다.
    ⑥ "비회원"이란 "사이트"의 회원으로 가입하지 않고 "서비스"를 이용하는 자를 말합니다.
    ⑦ "이용자"란 "사이트"에 접속하여 이 약관에 따라 "회사"가 제공하는 "서비스"를 받는
    "회원" 및 "비회원"을 말합니다.
    ⑧ "콘텐츠(Contents)"란 "사이트"에서 제공하는 모든 정보를 의미하며, 정보 통신망 이용
    촉진 및 정보보호 등에 관한 법률 제2조 제1항 제1호의 규정에 의한 정보통신망에서 사용
    되는 부호(URL 포함), 문자, 음성, 음향, 이미지 또는 영상, 파일등으로 표현된 자료 또
    는 정보를 말합니다.

    제3조 (약관의 효력과 변경)
    ① 본 약관의 내용과 변경 사항은 "사이트"에 게시하거나 기타의 방법으로 "이용자"에게
    공지함으로써 효력이 발생합니다.
    ② 본 약관은 "사이트"의 각 개별 사이트에 대해서도 효력이 발생하며,"사이트"의 각 개별
    사이트는 각 개별 사이트를 통해 "회원"에게 공지하여야 합니다.
    ③ 각 개별 사이트 고유의 서비스를 이용하거나 기타특정한 "사이트"의 서비스를 이용하실
    경우에는 본 약관의 내용과 함께 각 개별 사이트 해당 서비스의 약관이 적용됩니다.
    ④ 각 개별 사이트 해당 서비스 이용 시 "사이트"의 화면에 제시되는 "경고 메시지"의 효
    력은 본 약관에 언급됨으로써 본 약관의 효력과 동일합니다.
    ⑤ "회사"는 사정 변경의 경우와 영업상 중요 사유가 있을 때 약관을 변경할 수 있으며,
    변경된 약관은 전항의 "사이트"의 화면에 제시되는 "경고 메시지" 제1항의 방법으로 효력
    을 발생합니다.

    본 약관에 명시되지 아니한 사항과 해석에 대해서는 전기통신기본법, 전기통신사업법,
    정보 통신망 이용 촉진 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률 등
    기타 관련 법령 또는 상관례에 따릅니다.

    제4조 (서비스 이용계약의 성립)
    ① "이용자"는 본 약관 및 "개인정보처리방침"에 각 동의를 하고 서비스를 제공받기 위하
    여 필요한 회원의 정보를 기입하여 "회원"으로 가입신청을 하고, "회사"가 승인을 함으로
    써 "회원"으로 가입됨과 동시에 "회사"와의 사이에서 사이트 이용계약이 성립이 성립됩니
    다.
    ② "회사"는 다음 각 호에 해당하는 회원 가입의 신청에 대하여는 이를 승낙하지 아니합니
    다.
    가) 다른 사람의 명의를 사용하여 신청하였을 경우
    나) 본인의 실명으로 신청하지 않았을 경우
    다) 서비스 이용 계약 신청서의 내용을 허위로 기재하거나, 기재 누락, 오기로 기재
    신청서의 내용 중 중요한 내용의 기재를 누락하였을 경우
    라) 가입신청자가 이전에 회원자격을 상실한 적이 있는 경우, 단, 회원자격 상실후 3년이
    경과할한 자로서 "회사"의 회원 재가입 승낙을 얻은 경우에는 예외로 한다.
    마) 선량한 풍속 기타 사회질서를 위반하거나, 위반할 목적으로 신청하였을 경우
    바) 기타 회원으로 등록하는 것이 "회사"의 기술상 현저히 지장이 있다고 판단되는 경우
    사) 기타 "회사"가 정한 이용신청 요건이 만족되지 않았을 경우
    ④ "회사"가 이용 신청을 승낙할 때에는 다음 각 호의 사항을 회원에게 통지합니다.
    가) 회원 ID
    나) 서비스 이용 개시일
    다) 기타 "회사"가 필요하다고 인정하는 사항

    제5조 서비스 이용 및 내용 (서비스 이용)
    ① "서비스"의 이용은 "회사"의 업무상 또는 기술상 지장이 없는 한 연중무휴, 1일24시간
    을 원칙으로 합니다.
    ②회원은 "사이트"에 "하나의 ID"로 접속(Log-in)을 한 후 별도의 접속(Log-in)절차없이
    자유롭게 "사이트"를 이용할 수 있습니다.
    ③ "사이트"는 정보통신 시스템 등의 정기점검, 보수, 교체, 고장, 통신두절 등의 사유가
    발생한 경우에는 "서비스"의 제공을 일시 중단할 수 있으며, "사이트"에서의 공지 또는
    "회원"들에 대한 이메일 통지 등으로 "회원"에게 전달됩니다. 단, "사이트"가 통제할 수
    없는 사유로 인한 서비스 중단으로 사전 통지가 불가능한 경우에는 그러하지 아니합니다.
    ④ "회원"의 최초 서비스 이용신청 이후 "사이트"가 증감한 경우에도 신규 "사이트"의
    이용약관에서 달리 명시되지 않는 한 제1항의 내용이 마찬가지로 적용됩니다. 
    이 경우 신규 "사이트"의 서비스 개시에 대한 정보는 "사이트"에서의 공지 또는 "회원"들
    에 대한 이메일 통지 등으로 "회원"에게 전달됩니다.
    ⑤ 회원 가입한 후라도 일부 "서비스" 이용 시 광고주의 요구에 따라 "회원"의 연령에
    따른 "서비스"의 이용을 제한할 수 있습니다.
    ⑥ "회원"의 ID는 고객계좌 입금 등 제반 회원 관리업무 수행의 기준이 되므로, "회원"이
    회원 ID를 변경하고자 하는 경우 "회사"는 그 요청을 수락할 명백한 사유가 없는 한 그
    변경을 제한합니다.
    ⑦ "사이트"가 제공하는 저작물에 대한 저작권, 기타 지적 재산권은 "회사"에 귀속합니다.
    ⑧ "회원"은 "사이트"를 이용함으로써 얻은 정보를 "사이트회사"의 사전 승낙 없이 복제,
    송신, 출판, 배포, 방송, 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하
    게 하여서는 안됩니다.

    제6조 (유료 서비스 이용 요금)
    ① 별도로 표시된 유료 서비스를 제외한 모든서비스는 회원들에게 무료로 제공됩니다.
    ② 유료 서비스의 이용 요금 및 결제방식은 해당서비스에 명시되어 있는 규정에 따릅니다.

    제7조 (유료 서비스 승인)
    ① "회사"에서 규정한 결제방법을 사용하여 이용요금을 납입한 사실이 확인되면 지체없이
    유료서비스 신청을 승인합니다.
    ② "회사"는 아래에 해당하는 경우 유료서비스 신청에 대한 승인을 제한할 수 있고, 그
    사유가 해소될 까지 승인을 유보할 수 있습니다.
    1. 유료서비스의 이용 요금을 납입하지 않은 경우
    2. 유료서비스 신청 금액 총액과 입금 금액 총액이 일치하지 않은 경우
    3. 기타 "사이트"가 필요하다고 인정하는 경우
    ③ 제2항에 의하여 유료서비스 신청의 승인을 유보하거나 승인하지 아니하는 경우, "회사"
    는 이를 유료서비스 신청자에 알려야 합니다. 다만, 회사의 귀책사유 없이 유료서비스
    신청자에게 통지할 수 없는 경우는 예외로 합니다.

    제8조 (서비스의 제공 및 변경)
    ① "회사"는 비즈니스에 관련된 다양한 온/오프라인 정보 및 중개서비스를 제공합니다.
    ② "회사"는 기술적사양의 변경 및 불가피한 사정 등의 경우에 장차 체결되는 계약에 의해
    제공할 서비스의 내용을 변경할 수 있습니다. 이 경우에는 변경된 서비스의 내용 을 공지
    합니다. 단 , "회사"는 불가피한 여건이나 사정이 있는 경우 , 위 공지를 하지 않을 수
    있습니다.
    ③ "회사"가 이용자와 제공하기로 계약을 체결한 서비스의 내용을 변경할 경우에 "회사"는
    이로 인하여 이용자가 입은 손해에 대하여 배상하지 아니합니다. 단, "회사"에 고의 또는
     중과실이 있는 경우에는 그러하지 아니합니다.

    제9조 (서비스의 중단)
    ① "회사"는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절 등의 사유가
    발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
    ② "회사"는 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는
    제3자가 입은 손해에 대하여 배상합니다. 단,"회사"의 고의 또는 과실이 없음을 입증하는
     경우에는 그러하지 아니합니다.
    ③ 사업종목의 전환, 사업의 포기, 업체간의 통합 등의 이유로 서비스를 제공할 수 없게
    되는 경우에는 "회사"는 제8조에 정한 방법으로 이용자에게 통지하고 당초 "회사"에서
    제시한 조건에 따라 소비자에게 보상합니다. 다만, "회사"의 보상기준 등을 고지하지
    아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 "서비스"에서 통용되는 통화가치
    에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.

    제10조 (회원 탈퇴 및 자격 상실 등)
    ① 회원은 "회사"에 언제든지 탈퇴를 요청할 수 있으며 "회사"는 즉시 회원탈퇴를 처리합
    니다.
    ② 회원이 다음 각 호의 사유에 해당하는 경우, "회사"는 회원자격을 제한 및 정지시킬
    수 있습니다.
     가) 가입 신청 시에 허위 내용을 등록한 경우
      나) "회사"를 이용하여 구입한 서비스 등의 대금, 기타 "회사" 이용에 관련하여 회원이
      부담하는 채무를 기일에 지급하지 않는 경우
     다) 다른 사람의 "사이트" 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를
     위협하는 경우
     라) "회사"를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는
     경우
     마) "회사"의 "사이트"에 허위, 음란, 과장된 내용의 게시글을 등록하였을 경우
    ③ "회사"가 회원 자격을 제한, 정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일
    이내에 그 사유가 시정되지 아니하는 경우 "회사"는 회원 자격을 상실시킬 수 있습니다.
    ④ "회사"가 회원자격을 상실시키는 경우에는 회원 등록을 말소합니다. 이 경우 회원에게
    이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를
    부여합니다.

    제11조 (회원에 대한 통지)
    ① "회사"는 회원에 대한 통지를 하는 경우, 회원이 "회사"에 미리 약정하여 지정한 전자
    우편 주소로 통지할 수 있습니다.
    ② "회사"는 불특정 다수 회원에 대한 통지의 경우 1주일 이상 "회사" 게시판에 게시함으
    로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을
     미치는 사항에 대하여는 개별통지를 합니다.

    제12조 (구매신청)
    이용자는 "사이트" 상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, "회사
    "는 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.
    단, 회원인 경우 제 2호 내지 제 4호의 적용을 제외할 수 있습니다.
    1. 서비스 등의 검색 및 선택
    2. 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력
    3. 약관내용, 청약철회권이 제한되는 서비스, 제공료, 설치비 등의 비용부담과 관련한
    내용에 대한 확인
    4. 이 약관에 동의하고 위 3호의 사항을 확인하거나 거부하는 표시
    5. 서비스 등의 구매신청 및 이에 관한 확인 또는 "회사"의 확인에 대한 동의
    6. 결제방법의 선택

    제13조 (계약의 성립)
    ① "회사"는 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만,
    미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또
    는 법정대리인이 계약을 취소할 수 있습니다.
     1. 신청 내용에 허위, 기재누락, 오기가 있는 경우
        2. 미성년자가 담배, 주류등 청소년보호법에서 금지하는 서비스 및 용역을 구매하는
        경우
     3. 기타 구매신청에 승낙하는 것이 "회사" 기술상 현저히 지장이 있다고 판단하는 경우
    ② "회사"의 승낙이 수신확인통지 형태로 이용자에게 도달한 시점에 계약이 성립한 것으로
    봅니다.
    ③ "회사"의 승낙 의사 표시에는 이용자의 구매 신청에 대한 확인 및 판매 가능 여부,
    구매 신청의 정정 취소 등에 관한 정보 등을 포함하여야 합니다.

    제14조 (지급방법)
    "회사"에서 구매한 서비스 또는 용역에 대한 대금 지급 방법은 다음 각 호의 방법 중
    가용한 방법으로 할 수 있습니다. 단, "회사"는 이용자의 지급 방법에 대하여 서비스 등의
     대금에 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.
    1. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체
    2. 선불카드, 직불카드, 신용카드 등의 각종 카드 결제
    3. 가상계좌 입금
    4. 수령 시 대금지급
    5. 마일리지 등 "회사"가 지급한 포인트에 의한 결제
    6. "회사"와 계약을 맺었거나 "회사"가 인정한 상품권에 의한 결제
    7. 기타 전자적 지급 방법에 의한 대금 지급 등

    제15조 (수신 확인 통지, 구매신청 변경 및 취소)
    ① "회사"는 이용자의 구매신청이 있는 경우 이용자에게 수신 확인 통지를 합니다.
    ② 수신 확인 통지를 받은 이용자는 의사 표시의 불일치 등이 있는 경우에는 수신 확인
    통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있습니다. "회사"는 제공 전에
    이용자의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리하여야 합니다. 다만 이미
    대금을 지불한 경우에는 제19조의 청약 철회 등에 관한 규정에 따릅니다.

    제16조 (서비스 등의 공급)
    ① "회사"는 이용자와 서비스 등의 공급 시기에 관하여 별도의 약정이 없는이상, 이용자가
    청약을 한 날부터 7일 이내에 서비스 등을 제공할 수 있도록 필요한 조치를 취합니다.
    다만, "회사"가 이미 서비스 등의 대금의 전부 또는 일부를 받은 경우에는 대금의 전부
    또는 일부를 받은 날부터 2영업일 이내에 조치를 취합니다. 이때 "회사"는 이용자가 서비
    스 등의 공급 절차 및 진행 사항을 확인할 수 있도록 적절한 조치를 합니다.
    ② "회사"는 이용자가 구매한 서비스에 대해 제공 수단, 수단별 제공 비용 부담자, 수단별
    제공 기간 등을 명시합니다. 만약 "회사"가 약정 제공 기간을 초과한 경우에는 그로 인한
    이용자의 손해를 배상하여야 합니다. 다만 "회사"가 고의,과실이 없음을 입증한 경우에는
    그러하지 아니합니다.

    제17조 (환급)
    "회사"는 이용자가 구매 신청한 서비스 등이 제공을 할 수 없거나 공급 시기를 지난 시점
    에 공급이 이루어지지 않은 때에는 지체 없이 그 사유를 이용자에게 통지하고 사전에 서비
    스 등의 대금을 받은 경우에는 대금을 받은 날부터 2영업일 이내에 환급하거나 환급에
    필요한 조치를 취합니다. 단, "회사"가 별도로 규정한 서비스 등의 경우에는 그러하지
    아니합니다.

    제18조 (청약철회 등)
    ① ”회사"와 유료 서비스 구매에 관한 계약을 체결한 이용자는 다음 사항에 해당하는 경우
    유료 서비스 이용 계약을 철회하고 환불을 요청할 수 있습니다.
        1. 유료 서비스가 계약 시 안내된 일정과 방법대로 진행되지 않거나 거기에 상응하는
        보완 조치가 없을 경우
    ② 이용자는 다음 사항에 해당하는 경우에는 유료 서비스 이용 계약 철회 및 환불을 요청
    할 수 없습니다.
        1. 이용자의 단순 변심
        2. 유료 서비스 제공에 이용자가 제공한 콘텐츠가 이용되며, 콘텐츠가 적절히 공급되
        지 않은 경우
        3. 유료 서비스 제공에 이용자가 제공한 콘텐츠가 이용되며, 유료서비스 진행과 결과
        에 영향을 미치는 경우
        4. 이용자에게 책임 있는 사유로 유료 서비스 제공이 어려운 경우
        5. 서비스 제공 기간에 관계없이 서비스를 통해 기대하는 바를 상당 부분 완료하였다
        고 판단되는 경우
        6. “회사"와 이용자간의 계약에 따라 유료서비스 제공에 대한 금액을 지급 완료한후,
        “회사"와 관계없이 이용자와 유료서비스 제공에 관계되는 제3자 간 어떤 이유로 인해
         이용자에게 변경 사항이 발생한 경우

    제19조 (청약철회 등의 효과)
    ① "회사"는 이용자로부터 유료 서비스로 통칭하는 유무형 서비스 등의 구매 계약 철회 및
    환불 요청을 받는 경우 7영업일 이내에 이미 지급받은 유료 서비스 등의 대금을 환급합니
    다. 환급 금액은 아래 항목을 고려하여 계산됩니다.
        1. 환급 금액은 아래 계산 식으로 산정합니다.
            환급금액 = (유료 서비스 이용 계약 금액) - (취소수수료) - (유료 서비스 이용
            일수 x 1일 기준 금액)
            1일 기준 금액 = (유료 서비스 이용 계약 금액) / 유료 서비스 제공 계약 기간
        2. 유료 서비스 이용계약 금액의 20%를 취소수수료로 책정합니다. 취소수수료는 유료
        서비스 이용 시작일 기준14일전까지는 발생하지 않으며, 이 후로는 위에 명시된 금액
        으로 계산합니다.
    ② “회사"는 이용자와 대금 분할 지급 혹은 후불 계약 등 유료 서비스 이용 계약 금액을
    전액 지급받지 않은 경우, 아래 항목에 따라 금액을 이용자에게 청구하며 이용자는 7영업
    일 이내에 대금을 지급합니다.
        1. 유료 서비스 이용 계약 금액에서 환급금액 및 기지급된 금액을 제외한 금액
    ③ "회사"는 위 대금을 환급함에 있어서 이용자가 신용카드 또는 전자화폐 등의 결제 수단
    으로 유료 서비스 등의 대금을 지급한 때에는 지체 없이 당해 결제수단을 제공한 사업자로
    하여금 유료 서비스 등의 대금의 청구를 정지 또는 취소하도록 요청할 수 있습니다.
    ④ 청약철회 등의 경우 공급받은 유료 서비스 등의 반환에 필요한 비용은 이용자가 부담합
    니다. "회사"는 이용자에게 청약 철회 등을 이유로 위약금 또는 손해 배상을 청구하지 않
    습니다. 다만 유료 서비스 등의 내용이 표시ㆍ광고 내용과 다르거나 계약 내용과 다르게
    이행되어 청약 철회 등을 하는 경우 유료 서비스 등의 반환에 필요한 비용은 "회사"가
    부담합니다.
    ⑤ 이용자가 유료 서비스 등을 제공 받을 때 발송비를 부담한 경우에 "회사"는 청약 철회
    시 그 비용을 누가 부담하는지를 이용자가 알기 쉽도록 명확하게 표시합니다.
        1. 유료서비스의 이용 시 부득이한 사정으로 회사가 서비스를 지속할 수 없을 경우,
        이에 해당되는 금액을 회원이 지정하는 구좌로 변경해야 합니다.
    ⑥ 유료 서비스의 이용 시 "회사"가 청약철회 절차 및 가능 여부에 대해 별도 표기했을
    경우 이에 따릅니다.
    ⑦ 회원 또는 비회원이 무통장 입금계좌번호 또는 금액을 오기하여 의도한 금액 및 계좌
    번호와 다르게 처리 되었을 경우 다음과 같은 처리절차를 따릅니다.
        1. 회원이 발급받은 무통장 계좌번호에 타 회원 또는 비회원이 오입금하였을 경우, 
        회원에게 통지 또는 별도의 고지 없이 해당 금액이 귀속되는 자에게 환불처리 할 수 
        있습니다.
        2. 회원 본인의 실수로 인해 타 회원의 무통장 계좌에 오입금하였을 경우, 해당 금액
        이 이미 사용되었거나 기타의 사유로 환불이 불가능한 경우 이에 대한 책임은 회원
        본인에게 있습니다.

    제20조 (개인정보보호)
    ① "회사"는 관련 법령이 정하는 바에 따라서 이용자의 등록 정보를 포함한 기타 개인정보
    를 보호하기 위해 노력합니다. 이용자의 개인정보보호에 관해서는 관련 법령 및 "회사"가
    정하는 개인정보처리방침에 의해 정보수집 시 개인식별, 구매계약 이행에 필요한 최소한의
    정보를 수집할 수 있습니다. 다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로
    합니다.
        1. 성명
        2. 주소
        3. 전화번호(유선전화번호, 이동전화번호)
        4. 희망ID(회원의 경우)
        5. 비밀번호(회원의 경우)
        6. 전자우편주소
    ② "회사"가 이용자의 개인식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자
    의 동의를 받습니다.
    ③ 제공된 개인정보는 당해 이용자의 동의 없이 목적 외의 이용이나 제3자에게 제공할 수
    없으며, 이에 대한 모든 책임은 "회사"가 집니다. 다만, 다음의 경우에는 예외로 합니다.
        1. 제공업무상 배송업체에게 배송에 필요한 최소한의 이용자의 정보(성명, 주소, 전
        화번호)를 알려주는 경우
        2. 통계작성, 학술연구 또는 시장조사 등을 위하여 특정 개인을 식별할 수 없는 형태
        로 제공하는 경우
        3. 서비스 등의 거래에 따른 대금정산을 위하여 필요한 경우
        4. 도용방지를 위하여 본인확인에 필요한 경우
        5. 법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우
        6. 타인에게 법적인 피해를 주거나 미풍양속을 해치는 행위를 한 사람 등에게 법적인
        조치를 취하기 위하여 개인정보를 공개해야 한다고 판단되는 충분한근거가 있는 경우
        7. 보다 나은 서비스를 제공하기 위한 업무제휴로 개인정보 공유가 불가피하고, 이에
        대해 회원의 동의를 얻은 경우
    ④ "회사"가 제 2항과 제 3항에 의해 이용자의 동의를 받아야하는 경우에는 개인정보 관리
    책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집 목적 및 이용 목적, 
    제 3자에 대한 정보 제공 관련 사항 (제공받은 자, 제공목적 및 제공할 정보의 내용) 등
    정보 통신망 이용 촉진 등에 관한 법률 제24조 제2항이 규정한 사항을 미리 명시하거나
    고지해야 하며 이용자는 언제든지 이 동의를 철회할 수있습니다.
    ⑤ 이용자는 언제든지 "회사"가 가지고 있는 자신의 개인정보에 대해 열람 및 오류 정정을
    요구할 수 있으며 "회사"는 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 
    이용자가 오류의 정정을 요구한 경우에는 "회사"는 그오류를 정정할 때까지 당해 개인정보
    를 이용하지 않습니다.
    ⑥ "회사"는 개인정보보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행
    계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 변조 등으로 인한 이용자의
    손해에 대하여 모든 책임을 집니다.
    ⑦ "회사" 또는 그로부터 개인정보를 제공받은 제 3자는 개인 정보의 수집 목적 또는 제공
    받은 목적을 달성한 때에는 당해 개인 정보를 지체 없이 파기합니다.

    제21조 ("회사"의 의무)
    ① "회사"는 법령과 이 약관이 금지하거나 공서 양속에 반하는 행위를 하지 않으며 이
    약관이 정하는 바에 따라 지속적이고, 안정적으로 서비스, 용역을 제공하는데 최선을 다하
    여야 합니다.
    ② "회사"는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용
    정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
    ③ "회사"가 상품이나 용역에 대하여 「표시, 광고의 공정화에 관한 법률」 제 3조 소정의
    부당한 표시, 광고 행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집
    니다.
    ④ "회사"는 이용자가 원하지않는 영리 목적의 광고성 전자우편을 발송하지않습니다.

    제22조 (회원의 ID 및 비밀번호에 대한 의무)
    ① "회원"의 ID와 비밀번호에 관한 관리책임은 "회원"에게 있습니다.
    ② "회원"은 자신의 ID 및 비밀번호를 제3자가 이용하게 해서는 안됩니다.
    ③ "회원"이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우
    에는 바로 "회사"에 통보하고 "회사"의 안내가있는 경우에는 그에따라야합니다.
    ④ "회사"는 "회원"이 상기 제1항, 제2항,제3항을 위반하여 "회원"에게 발생한 손해에 대
    하여 중대한 과실이 없는 이상 어떠한 책임도 부담하지 않습니다.

    제23조 (이용자의 의무)
    ① 이용자는 다음 행위를 하여서는 안됩니다.
        １. 신청 또는 변경 시 허위 내용의 등록
        ２. 타인의 정보 도용
        ３. "회사"에 게시된 정보의 변경
        ４. "회사"가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
        ５. "회사" 기타 제3자의 저작권 등 지적재산권에 대한 침해 - "회원"은 본 서비스의
        온라인 콘텐츠, 기타 다양한 정보제공 서비스 등을 이용할 때, 모든DB정보 등을 포함
        한 일체의 서비스 내용을 회사의 사전 승낙 없이 복사, 복제, 변경, 번역,출판ㆍ방송
        기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없고 어떤 형태의 영리행위도
        할 수 없습니다. 이 약관을 위반한 회원은 "회사"에게 발생하는 모든손해를 배상하며
        또한 모든 법적인 책임이 있습니다.
        ６. "회사" 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
        ７. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 공개 
        또는 게시하는 행위
        8 . 작성한 정보에 대해서 지적재산 소유권은 설문조사기관에 있다.
        9 . 작성한 정보 및 첨부한 자료에 대해서 같은 내용을 다른회사에 제공하지못한다.

    제24조 (연결 "회사"와 피연결 "회사" 간의 관계)
    ① 상위 "회사"와 하위 "회사"가 하이퍼 링크(예: 하이퍼 링크의 대상에는 문자, 그림 및
    동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 "회사"(웹 사이 트)라고 하고
    후자를 피연결 "회사"(웹사이트)라고 합니다.
    ② 연결"회사"는 피연결 "회사"가 독자적으로 제공하는 서비스 등에 의하여 이용자와 행하
    는 거래에 대해서 보증 책임을 지지 않는다는 뜻을 연결 "회사"의 초기 화면 또는 연결되
    는 시점의 팝업 화면으로 명시한 경우에는 그 거래에 대한 보증책임을 지지 않습니다.

    제25조 (저작권의 귀속 및 이용제한)
    ① "회사"가 작성한 저작물에 대한 저작권 기타 지적재산권은 "회사"에 귀속합니다.
    ② 이용자는 "회사"를 이용함으로써 얻은 정보 중 "회사"에게 지적재산권이 귀속된 정보를
    "회사"의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타방법에 의하여 영리목적으로
    이용하거나 제3자에게 이용하게 하여서는 안됩니다.
    ③ "회원"이 작성한 게시물에대한 모든 권리 및 책임은 이를 게시한 "회원"에게 있습니다.
    ④ "회사"는 약정에 따라 이용자에게 귀속된 저작권을 사용하는경우 당해 이용자에게 통보
    하여야 합니다.
    ⑤ "회사"는 "회원"이 제공한 공개적인 게시물을 사용ㆍ복제ㆍ수정ㆍ출판ㆍ배포 할수 있습
    니다.

    제26조 (회원의 게시물)
    1. "회사"는 "회원"이 게시하거나 등록하는 서비스 내의 내용물이 다음 각 사항에 해당된
    다고 판단되는 경우에 게시물의 게재를 거절 혹은 중지하거나 사전 통지 없이 삭제할 수
    있습니다.

    ① 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우
    ② 공공질서 및 미풍양속에 위반되는 내용일 경우
    ③ 범죄행위를 교사, 방조하거나 실행 또는 그 예정을 시사하는 내용인 경우
    ④ 제 3자의 저작권 등 기타 권리를 침해하는 내용인 경우
    ⑤ 기타 허위, 과대 광고 등 서비스의 취지에 반하는 내용일 경우
    ⑥ 기타 관계 법령이나 "회원사"에서 정한 규정에 위반되는 경우
    ⑦ 게시물의 내용로 인하여 제3자에게 피해가 발생하였거나 피해가 예상되는 경우
    ⑧ 불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우
    ⑨ 타인의 명의 등을 무단으로 도용하여 작성한 내용이거나, 타인이 입력한 정보를 무단으
    로 위ㆍ변조한 내용인 경우
    ⑩ 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우
    ⑪ 게시물의 정보를 외부 서비스에서 사용하는 행위를 금지하는 사이트에서 URL 정보를
    수집하여 게재하는 경우
    ⑫ 기타관계법령 및 회사의 개별서비스별 세부이용지침 등에 위반된다고 판단되는경우

    2. 회사는 개별 서비스 별로 게시물과 관련된 세부이용지침을 별도로 정하여 시행할 수
    있으며, 회원은 그 지침에 따라 게시물(회원간 전달 포함)을 게재하여야 합니다.

    3. 전문가가 아니면서 인테리어 관련 직종에 종사하는 회원이 해당 회원의 서비스와 제품
    에 대한 정보가 담긴 게시물을 서비스 내에 게재할 경우에는 회사는 해당 게시물을 사전통
    지없이 삭제할 수 있으며, 이에 대해 회사는 어떤 책임도 지지않습니다.

    제27조 (게시물의 저작권 등)
    회원이 서비스내에 게시한 게시물의 저작권은 저작권법에 의해 보호를 받으며, 회사가 작
    성한 저작물에 대한 저작권 및 기타 지적재산권은 회사에 귀속합니다. 회원은 자신이 서비
    스내에 게시한 게시물을 회사가 국내ㆍ외에서 다음 각 호의 목적으로 사용하는 것을 허락
    합니다.
    서비스(제3자가 운영하는 사이트 또는 미디어의 일정 영역 내에 입점하여 서비스가 제공되
    는 경우 포함) 내에서 게시물을 사용하기 위하여 게시물의 크기를 변환하거나 단순화하는
    등의 방식으로 수정하는 것.
    회사 또는 관계사가 운영하는 본 서비스 및 연동 서비스 에
    게시물을 복제ㆍ전송ㆍ전시하는 것. 다만, 회원이 게시물의 복제ㆍ전송ㆍ전시에 반대 의견
    을 E-mail을 통해 관리자에게 통지할 경우에는 그러하지 않습니다.
    회사의 서비스를 홍보하기 위한 목적으로 미디어, 소셜미디어를 포함한 디지털 마케팅 채
    널, 통신사 등에게 게시물의 내용을 보도, 방영하게 하는 것.
    전 항의 규정에도 불구하고, 회사가 게시물을 전 항 각 호에 기재된 목적 이외에 제3자에
    게 게시물을 제공하고 금전적 대가를 지급받는 경우에는 사전에 전화,E-mail 등의 방법으
    로 회원의 동의를 얻습니다. 이 경우 회사는 회원에게 별도의 보상을 제공합니다.
    회원이 서비스에 게시물을 게재하는 것은 다른 회원이 게시물을 서비스내에서 사용하거나,
    회사가 검색결과로 사용하는 것을 허락한 것으로 봅니다. 그리고 스마트폰, 태블릿PC의
    서비스 이용자(앱 또는 브라우저로 서비스를 비가입 방문한경우도 포함)가 소프트웨어(예:
    앱, 브라우저) 또는 하드웨어(예: 스마트폰, 태블릿PC)에서 제공하는 기능을 이용하여
    게시물을 저장한 후 활용하는 것을 허락한 것으로 봅니다.
    제18조에 의해 이용계약이 해지되는 경우 회원이 서비스에 게시한 게시물은 삭제됩니다. 
    다만, 다른 회원 또는 제3자에게 의하여 스크랩, 공유 등의 기능을 통해 다시 게시된 게시
    물 및 댓글 등 다른 회원의 정상적인 서비스 이용에 필요한 게시물은 삭제되지 않습니다.
    회사는 서비스 운영정책상 또는 회사가 운영하는 사이트간의 통합 등을 하는 경우 게시물
    의 내용을 변경하지 아니하고 게시물의 게재위치를 변경ㆍ이전하거나 사이트간 공유로 하
    여 서비스할 수 있습니다. 다만, 게시물의 이전ㆍ변경 또는 공유를 하는 경우에는 사전에
    공지합니다.

    제28조 (면책조항)
    "회원"은"회사"가 제공하는 서비스를 무료로 활용하는 경우 다음사항을 인정합니다.
    ① "회원"이 "회사"의 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스 자료
    에 대한 취사선택 또는 이용으로 발생하는 불이익에 대하여 "회사"는 책임을 지지 아니합
    니다.
    ② "회원"은 서비스 제공을 위하여 필요한 정보의 공개에 관하여 "회사"를 상대로 어떠한
    이의도 제기하지 않고, 그로 인한 손해는 전적으로 “회원”의 책임임을 인정합니다.
    ③ "회사"는 본 웹 사이트에 포함되어 있거나, 본 웹 사이트를 통해 배포, 전송되거나,
    본 웹 사이트에 포함되어 있는 서비스로부터 접근되는 콘텐츠의 정확성이나 신뢰성에 대해
    어떠한 보증도 하지 않습니다. “회원”은 콘텐츠에 대한 신뢰 여부가 전적으로 “회원”의 책
    임임을 인정합니다.
    ④ "회사"는 콘텐츠의 내용을 수정할 의무를 지지 않으나, 필요에 따라 개선할 수는 있습니
    다.
    ⑤ 어떠한 경우에도 “회사”는 콘텐츠와 관련하여 직접, 간접, 부수적, 징벌적, 파생적인
    손해에 대해서 책임을 지지 않습니다.
    ⑥ "회사"는 이용자 상호간 또는 이용자와 제3자 간에 콘텐츠를 매개로 하여 발생한 분쟁
    등에 대하여 책임을 지지 않습니다.
    ⑦ "회원"이 "서비스"를 이용함에 있어 행한 불법행위나 본 약관 위반행위로 인하여 "회사
    "가 당해 "회원" 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를
    받는 경우 당해 "회원"은 자신의 책임과 비용으로 "회사"를 면책시켜야 하며, "회사"가
    면책되지 못한 경우 당해 "회원"은 그로 인하여 "회사" 발생한 모든 손해를 배상하여야
    합니다.

    "회원"은"회사"가 제공하는 서비스를 유료로 활용하는 경우 다음사항을 인정합니다.
    ① "회원"은 "회사"의 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스 자료
    에 대한 취사선택 또는 이용으로 발생하는 불이익에 대하여 "회사" 및 결제수단을 제공한
    사업자를 상대로 어떠한 이의도 제기하지 않습니다.
    ② "회원"은 서비스 제공을 위하여 필요한 정보의 공개에 관하여 "회사"를 상대로 어떠한
    이의도 제기하지 않고, 그로 인한 손해는 전적으로 “회원”의 책임임을 인정합니다.
    ③ "회사"는 본 웹 사이트에 포함되어 있거나, 본 웹 사이트를 통해 배포, 전송되거나,
    본 웹 사이트에 포함되어 있는 서비스로부터 접근되는 콘텐츠의 정확성이나 신뢰성에 대해
    어떠한 보증도 하지 않습니다. “회원”은 콘텐츠에 대한 신뢰 여부가 전적으로 “회원”의
    책임임을 인정합니다.
    ④ "회사"는 이용자 상호간 또는 이용자와 제3자 간에 콘텐츠를 매개로 하여 발생한 분쟁
    등에 대하여 책임을 지지 않습니다.
    ⑤ "회원"이 "서비스"를 이용함에 있어 행한 불법행위나 본 약관 위반행위로 인하여 "회사
    "가 당해 "회원" 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를
    받는 경우 당해 "회원"은 자신의 책임과 비용으로 "회사"를 면책시켜야 하며, "회사"가
    면책되지 못한 경우 당해 "회원"은 그로 인하여 "회사"에 발생한 모든 손해를 배상하여야
    합니다.

    제29조 (분쟁해결)
    ① "회사"는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상 처리하기 
    하여 피해 보상 처리 기구를 설치, 운영합니다.
    ② "회사"는 이용자로부터 제출되는 불만 사항 및 의견은 우선적으로 그 사항을 처리합니다
    . 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리 일정을 즉시 통보해야
    합니다.
    ③ "회사"와 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는
    경우에는 공정거래위원회 또는 시ㆍ도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습
    니다.

    제30조 (재판권 및 준거법)
    ① "회사"와 이용자 간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 이용자의
    주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속 관할로 합니다.
    다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국거주자의 경우에는 민사
    소송 법상의 관할 법원에 제기합니다.
    ② "회사"와 이용자간에 제기된 전자상거래 소송에는 한국 법을 적용합니다.

    [부칙]
    １. 본 약관은 2022년 02월 01일부터 시행합니다. 종전 약관은 본 약관으로 대체됩니다.
    개정된 이용약관의 적용일자 이전가입자 또한 개정된 이용약관의 적용을 받습니다.
                    </div>         
          </MudItem>

            <MudItem xs="12" Class="d-flex justify-center">
                <MudCheckBox  Label="동의하시겠습니까?" @bind-Checked="Noticecheck" />
            </MudItem>
        
        <MudItem xs="12" Class="d-flex justify-center">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="Noticecheck?false:true"
                           Link="@nowpage"
                Color="Color.Primary" Size="Size.Large" StartIcon="@Icons.Filled.Login" Style="width: 100%;">
                회원가입하기</MudButton>
        </MudItem>
      
        </MudGrid>
    </MudCardContent>
     
</MudCard>
@code {
    private bool Noticecheck { get; set; } = false;
    private string nowpage = $"/register/{DateTime.Now.ToString("yyyyMMdd")}_'notice'";

}

